body {
  padding-top: 56px;
  background-color: rgb(6, 18, 28);
  font-family: fantasy;
}

h2 {
  font-family: cursive;
}

h1 {
  font-family: cursive;
}

h3 {
  font-family: cursive
}

.icons {
  font-size: 2rem
}

.submit{
  padding: 20px; 
}

.link {
 font-size: 45px; 
}

.links{
  font-size: 75px; 
}

.name { 
  font: white; 
  padding: 15px;
}



body {
  margin: 0;
  padding: 0; 
}
.masthead {
  height: 100vh;
  min-height: 400px;
  background-color: black; 
  background-image: url('https://images.unsplash.com/photo-1535082049017-5a7b43f3bcef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}